    *{
        margin: 0;
        padding: 0;
    }
    body{
        background-color: rgb(33, 33, 49);
    }
    header{
        display: flex;
        background-color: rgb(33, 33, 49);
        height: 40px;
        align-items: center;
    }
    header .head{
        display: none;
        
    }
    nav{
        display: flex;
        width: 100%;
        justify-content: flex-end;
        
        
    }
    ul{
        display: flex;
        gap: 10%;
        margin-right: 5rem;
        font-weight: 500;
        list-style-type: none;
    }
    a{
        text-decoration: none;
        color: white;
    }
    nav ul li:hover{
        text-decoration: underline;
        font-weight: 900;

    }
    button{
        background-color:rgb(112, 102, 177);
        border: none;
        border-radius: 5px;
        color: white;
        width: 3rem;
        height: 1.5rem;
        font-weight: 700;
    }
    button:hover{
        background-color:rgb(112, 102, 177);
    }

    h1{
        color: white;
    }
    h3{
        color: white;
    }
    h4{
        color: rgb(198, 157, 55);
    }
    .h1-one{
        font-size: 30px;
        color: white;
        font-weight: 800;
    }
    .top-one{
        margin-right: 10px;
    }




    .one{
    display: flex;
    justify-content: center;
    justify-items: center;


    }
    .two{
        display:flex;
        justify-content: center;
        justify-items: center; 
        margin-top: 25px;
    }
    .left{
        margin-top: 10rem;
    }

    .top-one{
        display:inline-flex;
        flex-direction: column;
    }

    .pcimg{
        display: flex;
        flex-direction: column;
        width: 60%;
        margin-top: 30px;
    }
    .cotainer{
        margin: auto;
        width: 62vw;
        margin: 8px auto;
        overflow: hidden;  
    }
    .h1-two{
        display: flex;
        justify-content: center;
        justify-items: center;
        
        text-decoration: 5px blue underline ;
        
    }
    .card-item{
        display: inline-block;
        justify-items: center;
        justify-content: center;
        flex-direction: column;
        

    }


    .proj{
        display: flex;
        justify-content: center;
        color: white;
    margin-bottom: 15px;
    }

    .footp{
        display: flex;
        justify-content: center;
        font-size: 25px;
        font-weight: 600;
        text-decoration: 5px blue underline;
        color: white;
        
    }
    .footimg{
        display: flex;
        justify-content: center;
        gap: 15px;
        margin-top: 15px;
        margin-bottom: 20px;
    }






    @media screen and (max-width:425px) {
        header .head{
            width: 20px;
            height: 20px;
            margin-left: 10px;
            display:flex;
            flex-direction: column;
            justify-content: flex-start;

        }
        nav{
            display: none;
        }
        
    .one{
    display:inline;
    justify-content: center;
    justify-items: center;
    
        
        }
        /* .top-one{
            margin-top: 2px;
            justify-content: cente;
        } */
    .left{
        display: inline;
        margin-top: 15px;
        justify-content: center;
        justify-items: center;
        align-items: center;
        margin-left: 160px;
    
    }
.info{
    display: inline;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    margin-left: 100px;
    margin-bottom: 20px;
}
.two{
    display:inline;
    justify-content: center;
    justify-items: center; 
    margin-top: 25px;
}

.right{
    height: 220px;
    width: 200px;
    display: inline;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-left: 100px;
    margin-bottom: 35px;
}

.card-item{
    display: inline-block;
    justify-items: center;
    justify-content: center;
    flex-direction: row;
    align-content: center;
    margin-left: 85px;
    margin-bottom: 20px;

}


}
   
    
        














